<div class="mt-5 w-50 mx-auto">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    <%= render "customers/shared/error_messages", resource: resource %>

    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Full Name" %>


    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>


    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>


    <div class="actions mt-3">
      <%= f.submit "Sign up", class: "btn btn-lg btn-success btn-block" %>
    </div>
  <% end %>

  <%= render "customers/shared/links" %>
</div>
