
<div class="mt-5 w-50 mx-auto">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Change your Password</h1>
    <%= render "customers/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "New Password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "btn btn-lg btn-warning btn-block" %>
    </div>
  <% end %>

  <%= render "customers/shared/links" %>

</div>
