<div class="mt-5 w-50 mx-auto">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <h1 class="h3 mb-3 font-weight-normal">Forgot your password?</h1>
    <%= render "customers/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>
    </div>

    <div class="actions mt-3">
      <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-danger btn-block" %>
    </div>
  <% end %>

  <%= render "customers/shared/links" %>
</div>