<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.products_orders.each do |product_order| %>
      <tr>
        <td>
          <% if product_order.product.image.present? %>
            <%= image_tag product_order.product.image.variant(resize_to_limit: [45, 45]).processed, class: "m-2 rounded" %>
          <% end %>
        </td>
        <td>
          <%= product_order.quantity  %> x <%= link_to product_order.product.name, product_order.product %>
        </td>
        <td>
          <%= number_to_currency product_order.subtotal %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td/>
        <td class="text-right">Subtotal</td>
        <td><%= number_to_currency @order.subtotal %></td>
      </tr>
      <% @order.tax_rates.each do |t| %>
        <tr>
          <td/>
          <td class="text-right"><%= t[:label] %></td>
          <td><%= number_to_currency @order.subtotal * t[:rate] %></td>
        </tr>
      <% end %>
      <tr>
        <td/>
        <td class="text-right"><strong>Total</strong></td>
        <td><%= number_to_currency @order.grand_total %></td>
      </tr>

    </tbody>
  </table>