<% breadcrumb :new_order %>
<h1 class="mt-2">Review Order</h1>

<%= form_with(model: @order, local: true) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5>Selected Address</h5>
  <p><%= "#{@order.address.address_line_one}, #{@order.address.city}, #{@order.address.province.code}, #{@order.address.postal_code.upcase}" %></p>

  <h5>Products in cart</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.products_orders.each do |product_order| %>
      <tr>
        <td>
          <% if product_order.product.image.present? %>
            <%= image_tag product_order.product.image.variant(resize_to_limit: [45, 45]).processed, class: "m-2 rounded" %>
          <% end %>
        </td>
        <td>
          <%= product_order.quantity  %> x <%= link_to product_order.product.name, product_order.product %>
        </td>
        <td>
          <%= number_to_currency product_order.subtotal %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td/>
        <td class="text-right">Subtotal</td>
        <td><%= number_to_currency @order.subtotal %></td>
      </tr>
      <% @order.tax_rates.each do |t| %>
        <tr>
          <td/>
          <td class="text-right"><%= t[:label] %></td>
          <td><%= number_to_currency @order.subtotal * t[:rate] %></td>
        </tr>
      <% end %>
      <tr>
        <td/>
        <td class="text-right"><strong>Total</strong></td>
        <td><%= number_to_currency @order.grand_total %></td>
      </tr>

    </tbody>
  </table>


  <div class="actions mt-3">
    <%= f.submit class: "btn btn-primary mx-auto w-100" %>
  </div>
<% end %>