<hr/>
<h3><%= category.name %></h3>
<p><%= path_to_string category %></p>
<% if category.children.present? %>
  <h5>Child Categoires:</h5>
  <ul>
    <% category.children.each do |c| %>
      <li><%= path_to_string c %></li>
    <% end %>
  </ul>
<% end %>

<p>Products: <%= category.products.count %></p>

<%= paginate category.products.page params[:page] %>
<% category.products.page(params[:page]).each do |product| %>
  <%= render partial: "products/products", locals: {product: product} %>
<% end %>
<%= paginate category.products.page params[:page] %>