<h3><%= params[:q].present? ? "Found Categories" : "All Categories" %></h3>

<%= search_form_for @q, class:"form-inline my-2 my-lg-0 input-group" do |f| %>
  <div class="input-group btn-group">
    <%= f.search_field :name_cont, class: "form-control w-50", placeholder: "Search term" %>
    <%= f.submit class: "btn btn-outline-success" %>
    <%= link_to "Clear", categories_path,  class: "btn btn-outline-warning" %>
  </div>
<% end %>

<%= paginate @categories %>
<% @categories.each do |category| %>
  <hr/>
  <h3><%= link_to category.name, category %></h3>
  <p>Products: <%= category.products.count %></p>
  <p><%= path_to_string category %></p>
<% end %>
<%= paginate @categories %>
