<% breadcrumb :categories %>
<% breadcrumb :search_categories if params[:q].present? %>

<h3><%= params[:q].present? ? "Found Categories" : "All Categories" %></h3>

<%= search_form_for @q, class:"form-inline my-2 my-lg-0 input-group" do |f| %>
  <div class="input-group">
    <%= f.search_field :name_cont, class: "form-control", placeholder: "Search term" %>
    <%= f.submit class: "btn btn-outline-success ml-2" %>
    <%= params[:q].present? ? (link_to "Clear", categories_path,  class: "btn btn-outline-warning ml-2") : "" %>
  </div>
<% end %>

<%= paginate @categories %>
<% @categories.each do |category| %>
  <%= render partial: "categories/categories", locals: {category: category} %>
<% end %>
<%= paginate @categories %>
