<hr/>
<h3><%= link_to product.name, product %></h3>
<p><%= product.upc %></p>
<p>Price: <%= number_to_currency product.price %></p>
<p>Cost: <%= number_to_currency product.cost %></p>
<p>In stock: <%= pluralize product.on_hand, 'unit' %></p>
<% if product.description.present? %>
  <p><%= product.description %></p>
<% end %>

<% if product.image.present? %>
  <p><%= image_tag product.image.variant(resize_to_limit: [100, 100]).processed  %></p>
<% end %>

<p>Category: <%= link_to product.category.name, product.category %></p>
<% if @cart.include?(product) %>
    <%= form_with(url: update_cart_quantity_path(product.id), method: "patch", class: "form-inline my-2 my-lg-0 input-group") do %>
      <div class="input-group btn-group">
        <div class="input-group-prepend">
          <%= label_tag(:quantity, "Quantity:", class: "input-group-text") %>
        </div>
        <%= number_field_tag 'quantity', @cart[product].to_s, min: 1, max: product.on_hand, class: "form-control" %>
        <%= submit_tag("✅ Update Quantity", class: "btn btn-success") %>
      </div>
    <% end %>
    <%= button_to '➖ Remove from Cart 🛒', remove_from_cart_path(product.id), method: :delete, class: "btn btn-danger mt-3" %>
<% else %>
  <%= form_with(url: add_to_cart_path(product.id), method: "post", class: "form-inline my-2 my-lg-0 input-group") do %>
    <div class="input-group btn-group">
      <div class="input-group-prepend">
        <%= label_tag(:quantity, "Quantity:", class: "input-group-text") %>
      </div>
      <%= number_field_tag 'quantity', '1', min: 1, max: product.on_hand, class: "form-control" %>
      <%= submit_tag("➕ Add to Cart 🛒", class: "btn btn-primary") %>
    </div>
  <% end %>
<% end %>