<hr/>
<h3><%= link_to product.name, product %></h3>
<h3><%= product.upc %></h3>
<p>Price: <%= number_to_currency product.price %></p>
<p>Cost: <%= number_to_currency product.cost %></p>

<% if product.description.present? %>
  <p><%= product.description %></p>
<% end %>

<% if product.image.present? %>
  <p><%= image_tag product.image.variant(resize_to_limit: [100, 100]).processed  %></p>
<% end %>

<p>Category: <%= link_to product.category.name, product.category %></p>
<p><%= link_to 'Add to Cart', add_to_cart_path(product.id) %></p>