<div class="row">
  <% if product.image.present? %>
    <%= image_tag product.image.variant(resize_to_limit: [300, 300]).processed, class: "col"  %>
  <% end %>
  <div class="col">
    <h4><%= link_to product.name, product %> - <%= number_to_currency product.price %></h4>
    <h6>Category: <%= link_to product.category.name, product.category %></h6>
    <h6><%= product.upc %> - <%= product.on_hand > 0 ? "#{product.on_hand} available" : "Sold Out" %></h6>
    <% if product.description.present? %>
      <p><%= product.description %></p>
    <% end %>
    <%= render partial: "products/product_buttons", locals: {product: product} %>
  </div>
</div>





