<hr/>
<h3><%= link_to product.name, product %></h3>
<p><%= product.upc %></p>
<p>Price: <%= number_to_currency product.price %></p>
<p>Cost: <%= number_to_currency product.cost %></p>
<p>In stock: <%= pluralize product.on_hand, 'unit' %></p>
<% if product.description.present? %>
  <p><%= product.description %></p>
<% end %>

<% if product.image.present? %>
  <p><%= image_tag product.image.variant(resize_to_limit: [100, 100]).processed  %></p>
<% end %>

<p>Category: <%= link_to product.category.name, product.category %></p>

<%= render partial: "products/product_buttons", locals: {product: product} %>