<h3><%= params[:q].present? ? "Found Products" : "All Products" %></h3>

<%= search_form_for @q, class:"form-inline my-2 my-lg-0 input-group" do |f| %>
  <div class="input-group btn-group">
    <%= f.search_field :name_or_description_cont, class: "form-control w-50", placeholder: "Search term" %>
    <%= f.submit class: "btn btn-outline-success" %>
    <%= link_to "Clear", products_path,  class: "btn btn-outline-warning" %>
  </div>
<% end %>

<%= paginate @products %>
<% @products.each do |product| %>
  <%= render partial: "products/products", locals: {product: product} %>
<% end %>
<%= paginate @products %>
