<div class="btn-group dropdown">
  <button type="button" class="btn dropdown-toggle <%= @cart.empty? ? "disabled btn-secondary" : "btn-info" %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cart <%= @cart.empty? ? "" : "<span class=\"badge badge-light\">#{@cart.count}</span>".html_safe %>
  </button>
  <% unless @cart.empty? %>
    <div class="dropdown-menu p-2">
      <% @cart.each do |product, quantity| %>
        <div class="dropdown-item">
          <p><%= quantity %> x <%= link_to product.name, product %> - <%= link_to "Remove", remove_from_cart_path(product.id), method: :delete, class: "badge badge-pill badge-danger" %></p>
        </div>
      <% end %>
      <button class="btn btn-primary mx-auto w-100">Checkout</button>
    </div>
  <% end %>
</div>